<h1>Lista de Productos</h1>
<ul>
    {{#each products}}
    <li>
        <h2>{{title}}</h2>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <p>Stock: {{stock}}</p>
    </li>
    {{/each}}
</ul>
